*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.header{
    display: inline-flex;
    width: 100%;
    height: 56px;
    line-height: 56px;
    background-color: rgba(12, 12, 204, 0.778);
    align-content: center;
    justify-content: space-evenly;
}

p{
}

.search{
    width: 16%;
    position: relative;
}

.search input{
    width: 100%;
}

.search  button > i{
    position: absolute;
    top : 20px;
    right : 4px;
    color: black;
}

.user{
    width: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}